.nav-box-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 95vh;
    margin-bottom: 20px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 20px;
    overflow-y: auto;
    align-items: center;
    justify-items: center;
}

.dropdown-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: fit-content;
}

.dropdown .btn {
    font-size: 12px;
    padding: 5px 10px;
}

.dropdown img {
    height: 12px;
    width: fit-content;
}

.navigation-box {
    text-align: center;
}

.card {
    background-color: whitesmoke;
}

.no-style {
    text-decoration: none;
    color: inherit;
}
