{% extends "recipes/box.html" %}
<!-- -->
{% load crispy_forms_tags %} 
{% load i18n %}
{% load static %}

<!-- -->
{% block content %}
<div class="background-container">
  <img class="pfp" src="{{ user.userprofile.pfp.url }}" alt="{{ user.userprofile.user.username }}" />
  <h1>{{ user.username }}</h1>
  {% if not recipes %}
    <h2>{% trans "No recipes yet." %}</h2>
    <a class="btn btn-primary" href="{% url 'recipes-create' %}">{% trans "Want to add one?" %}</a>
  {% else %}
    <h2>{% trans "Your recipes:" %}&nbsp&nbsp&nbsp&nbsp<a class="btn btn-primary" href="{% url 'liked_recipes' %}">{% trans "Liked recipes" %}</a></h2>
  {% endif %}
  {% for recipe in recipes %}
  <div class="container">
    <div class="card my-4" style="width: 60rem;">
      {% if recipe.photo %}
        <img class="card-img-top img-fluid" src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
        
        {% if recipe.ingredients.all|length %}
          <h6>{% trans "Ingredients:" %}</h6>
          <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.name }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No ingredients added yet." %}</p>
        {% endif %}
  
        <h6>{% trans "Instructions:" %}</h6>
        <p class="card-text"> {{ recipe.description | safe }}</p>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ recipe.updated_at|date:"F d, Y" }}
        </h6>
        <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link no-style">{% trans "View Recipe" %}</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<!-- -->
{% endblock content %}
