{% extends "recipes/box.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header">{% trans "Settings" %}</div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
          </form>
        </div>
      </div>
      <a href="{% url 'user-change-password' %}" class="btn btn-secondary">{% trans "Change Password" %}</a>
    </div>
  </div>
</div>
{% endblock %}