{% extends "recipes/box.html" %}
{% load i18n %}
<!-- -->
{% block content %}
<form method="get" action="{% url 'search_recipes' %}">
  {% csrf_token %}
  <label for="ingredients">{% trans "Search:" %}</label>
  <input type="text" id="ingredients" name="ingredients">
  <button type="submit">{% trans "Search" %}</button>
</form>
{% for recipe in recipes %}
<div class="container">
  <div class="card my-4" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
      
      {% if recipe.ingredients.all|length %}
        <h6>{% trans "Ingredients:" %}</h6>
        <ul>
          {% for ingredient in recipe.ingredients.all %}
          <li>{{ ingredient.name }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{% trans "No ingredients added yet." %}</p>
      {% endif %}

      <h6>{% trans "Instructions:" %}</h6><p class="card-text"> {{ recipe.description | safe }}</p>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ recipe.updated_at|date:"F d, Y" }}
      </h6>
      <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link no-style">{% trans "View Recipe" %}</a>
    </div>
  </div>
</div>
{% endfor %}
<!-- -->
{% endblock content %}
